<div class="seach=bar">
    <div class="wrap">
        <div class="search">
           <input type="text" [(ngModel)]="productName" class="searchTerm" placeholder="What are you looking for?" (keyup.enter)="searchProduct()" >
           <button type="submit" class="searchButton" (click)="searchProduct()">
             <i class="fa fa-search"></i>
          </button>
        </div>
     </div>
</div>
<div class="product-container">
    <div class="product-card" *ngFor="let product of products;">
        <div class="product-image">
            <img src="{{product.imageUrl}}" class="product-thumb" alt="">
            <div>
                <button class="card-btn cart" (click)="addToCart(product)">Add to Cart</button>
            </div>
        </div>
        <div class="product-info">
            <h2 class="product-brand">{{product.name}}</h2>
            <p class="product-short-des">{{product.description}}</p>
            <span class="price">$ {{product.price}}</span>
        </div>
    </div>
</div>
<div *ngIf="pageInfo">
    <app-footer [pageInfo]="pageInfo" (nextPageEvent)="getNextPage()" (prevPageEvent)="getPrevPage()"></app-footer>
</div>